<nav class="navbar navHeader mb-3 bg-body-tertiary p-3">

    <button class="btn btn-outline-secondary" type="button" (click)="sidebarOpen = !sidebarOpen">
        <icon [name]="'menu'"></icon>
    </button>

    <span class="navbar-brand mx-auto">Lockin</span>@if(showInstallButton){
        <button class="btn" (click)="installPWA()" matTooltip="Instalar Aplicativo">
            <icon [name]="'download_for_offline'"></icon>
        </button>
        }

    <div>
        <label for="">Tema</label>   
        <div class="form-check form-switch mb-0"> 
                
        <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch"
            [checked]="themeService.isDarkMode()" (change)="themeService.toggle()">
        
    </div>
    <label class="form-check-label" for="themeSwitch">
            {{themeService.isDarkMode() ? 'Dark' : 'Light'}}
        </label>
    </div>
</nav>

<side-menu [(isOpen)]="sidebarOpen" />