<div class="d-grid gap-3">
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="alfanum*" value="option1" checked (change)="selectedOption='alphanumeric*'">
  <label class="form-check-label" for="alfanum">
    Alfanumérico*
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="alfanum" value="option2"  (change)="selectedOption='alphanumeric'">
  <label class="form-check-label" for="alfanum">
    Alfanumérico
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="num" value="option3"  (change)="selectedOption='only-numbers'">
  <label class="form-check-label" for="num">
    Somente números
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="alfa" value="option4"  (change)="selectedOption='only-letters'">
  <label class="form-check-label" for="alfa">
    Somente letras
  </label>
</div>
<div class="form-floating">
            <input #inputLengthPassword type="number" class="form-control"
                placeholder="Tamanho da senha" value="7" (change)="passwordLength=+inputLengthPassword.value">
                <label for="inputEditPassword">Tamanho da senha:</label>
        </div>

    <button type="button" class="btn btn-primary" (click)="handleOk()">Gerar</button>

    <button type="button" class="btn btn-danger" (click)="handleCancel()">Cancelar</button>
</div>